@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

:root {
  --primary-pink: hsl(322, 100%, 66%);
  --secondary-pink: hsl(321, 200%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --dark-cyan: hsl(192, 100%, 9%);
  --pale-blue: hsl(207, 100%, 98%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

main section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--dark-cyan);
  padding: 10rem 0;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

main h3 {
  margin: 1rem 0;
}

main p {
  color: var(--dark-cyan);
  width: 90%;
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.75rem;
}

nav img {
  width: 120px;
  object-fit: contain;
}

nav a {
  border: 1px solid var(--secondary-pink);
  color: var(--secondary-pink);
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1.5rem;
  padding: 6rem 0;
}

header h1 {
  font-size: 1.5rem;
  width: 80%;
  margin: auto;
  font-weight: 700;
}

header p {
  max-width: 600px;
}

header a {
  margin: 2rem auto;
}

.btn {
  background-color: var(--primary-pink);
  color: white;
  padding: 0.75rem 0;
  inline-size: 60%;
  display: inline-block;
  text-align: center;
  border-radius: 32px;
  max-inline-size: 350px;
}

.mockups {
  width: 85%;
  margin: 0 auto 6rem auto;
}

.mockups img {
  max-width: 100%;
  width: -webkit-fill-available;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  padding: 0rem 0;
  margin-top: 2rem;
}

.stats img {
  width: 24px;
}

.stats div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stats h2 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.stats p {
  width: 100%;
}

.stats div:nth-of-type(2) p {
  width: 50%;
}

.grow {
  background: url(./images/bg-section-top-mobile-1.svg) top left no-repeat,
    url(./images/bg-section-bottom-mobile-1.svg) bottom left no-repeat;
}

.grow,
.users {
  padding: 6.25rem 0 3rem 0;
}

.grow .content {
  background-color: var(--pale-blue);
}

.content {
  padding: 4rem 0;
}

.content img {
  order: 1;
}

.content div {
  order: 2;
}

.users {
  background: url(./images/bg-section-top-mobile-2.svg) top left no-repeat,
    url(./images/bg-section-bottom-mobile-2.svg) bottom left no-repeat;
  padding: 6.25rem 0;
}

.users div {
  background-color: var(--pale-blue);
  padding: 4rem 0 7rem 0;
}

.users p {
  margin: auto;
  width: 90%;
}

.community {
  background-color: white;
  gap: 2.5rem;
  padding-bottom: 15rem;
}

.community h3 {
  font-size: 1.75rem;
}

.community img,
.users img,
.grow img,
.conversations img {
  max-width: 300px;
  width: 100%;
  margin-bottom: 4.5rem;
}

footer {
  color: var(--pale-blue);
  padding-top: 2.5rem;
  background-image: url(./images/bg-footer-top-mobile.svg);
  background-position: top left;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
}

.footer-container {
  background-color: var(--dark-cyan);
  width: 100%;
  padding: 2.7rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
  align-items: center;
}

ul {
  list-style: none;
}

.newsletter {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  order: 1;
}

.newsletter h3 {
  text-transform: uppercase;
  margin: 1rem 0;
}

.newsletter p {
  line-height: 1.5rem;
  font-weight: 600;
  max-width: 400px;
}

.newsletter div {
  display: flex;
  flex-direction: column;
  margin: 1.75rem 0 0 0;
  gap: 0.75rem;
}

.newsletter input {
  border-radius: 8px;
  padding: 1rem;
}

.newsletter button {
  background-color: var(--primary-pink);
  color: white;
  inline-size: 50%;
  align-self: flex-end;
  padding: 1rem 0;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  max-width: 200px;
}

.contact-info {
  order: 2;
  margin-top: 1rem;
}

.contact-info img {
  width: 60%;
  margin: 0.25rem 0;
  vertical-align: middle;
  max-width: 200px;
}

.contact-info p {
  margin: 1rem 0;
  max-width: 300px;
}

.logo {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(20deg) brightness(110%)
    contrast(101%);
}

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  margin: 2rem 0;
}

.contact li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact img {
  width: 100%;
}

.socials {
  display: flex;
  margin-top: 1.5rem;
  gap: 1rem;
  align-items: center;
}

@media (min-width: 375px) {
  .grow {
    background: url(./images/bg-section-top-desktop-1.svg) top left no-repeat,
      url(./images/bg-section-bottom-desktop-1.svg) bottom left no-repeat;
  }
  .users {
    background: url(./images/bg-section-top-desktop-2.svg) top left no-repeat,
      url(./images/bg-section-bottom-desktop-2.svg) bottom left no-repeat;
  }

  .grow,
  .users {
    padding: 8.25rem 0;
  }

  .content {
    padding: 5rem;
  }

  footer {
    background-image: url(./images/bg-footer-top-desktop.svg);
    padding-top: 9.25rem;
  }

  .newsletter {
    width: 100%;
  }

  .contact-info {
    width: 100%;
  }
}

@media (min-width: 600px) {
  nav {
    margin: 0.5rem 0;
  }

  nav img {
    width: 200px;
  }

  header h1 {
    font-size: 2rem;
  }

  header a {
    margin: 0.75rem 0;
  }

  main section {
    padding: 3rem 0;
  }

  .stats {
    flex-direction: row;
    gap: 0;
    justify-content: space-around;
    margin: 2rem;
  }

  .stats h2 {
    font-size: 4.5rem;
  }

  .stats div:nth-of-type(2) p {
    width: 100%;
  }

  .grow,
  .users {
    padding: 8.25rem 0;
  }

  .content {
    display: flex;
    flex-direction: row;
    padding: 4rem 1rem;
    width: 100%;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
  }

  .grow .content img,
  .users .content img {
    order: 2;
  }

  .content div {
    order: 1;
    text-align: left;
    padding: 1rem;
  }

  .content h3 {
    margin: 1.25rem auto;
    width: 90%;
    font-size: 1.75rem;
  }
  .content p {
    max-width: 500px;
  }

  .community {
    gap: 0.75 rem;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding: 1.75rem;
  }

  .newsletter {
    order: 2;
    width: auto;
  }

  .newsletter div {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .newsletter input {
    max-width: 350px;
    width: 75%;
  }

  .newsletter button {
    align-self: center;
  }

  .contact-info {
    order: 1;
    width: auto;
  }
}

@media (min-width: 1280px) {
  nav {
    margin: 5rem;
  }

  nav img {
    width: 250px;
  }

  header h1 {
    font-size: 3rem;
  }

  header p {
    font-size: 1.25rem;
  }

  header .btn {
    margin: 0.75rem 0;
    padding: 1.35rem 1.25rem;
    font-size: 1.25rem;
    font-weight: 600;
  }

  .mockups {
    width: 80%;
  }

  .stats h2 {
    font-size: 6.75rem;
  }

  .community img,
  .users img,
  .grow img,
  .conversations img {
    max-width: 500px;
  }
}
